* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
    color: #333;
}

table {
    width: 400px;

}

caption{
    text-align: center;
    padding: 20px;
}

table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

th, td{
    padding: 10px;
}